// Подключение шрифтов
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap&subset=cyrillic");

// Миксин для корректной активации флексбоксов в разных браузерах
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

$primary-color: #3333ff;

@mixin blur($blur-size) {
    filter: blur($blur-size);
    -ms-filter: blur($blur-size);
    -webkit-filter: blur($blur-size);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

.flex {
    @include flexbox();
    justify-content: center;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-self: center;
}

.header {
    height: 10vh;
    background: white;
    font-size: 10pt;
}

.header__content {
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color;
}

.header__content-logo {
    align-self: flex-start;
    margin-right: auto;
}

.header__content-item {
    color: black;
    margin-left: 30px;
    text-decoration: none;
}

.header__content-item_btn {
    color: white;
    background: $primary-color;
    border-radius: 90px;
    padding: 12px;
}

.block1 {
    flex-direction: column;
    height: 90vh;
    color: white;
}

.block1__bg {
    position: absolute;
    height: 95vh;
    width: 105vw;
    top: +9vh;
    left: -5vw;
    z-index: -1000;
    background: darkgray url("../../img/clinic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position-y: -200px;
    @include blur(5px);
}

.block1__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block1__text {
    width: 600px;
}

.block1__h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: $primary-color;
    font-size: 34pt;
}

.block1__h3 {
    margin-top: 30px;
    font-size: 20pt;
    line-height: 1.3;
}

.block1__btns {
    margin-top: 40px;
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.block1__btns-tel {
    border: none;
    background-color: white;
    color: black;
    width: 290px;
    padding: 12px;
    border-radius: 90px;
    font-size: 14pt;
    text-align: center;
}

.block1__btns-action-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    width: 290px;
    padding: 12px;
    border-radius: 90px;
    text-align: center;
    font-size: 14pt;
}

.block1__btns-action-btn:hover {
    box-shadow: 0 0 10px $primary-color;
}

.block1__img {
    // position: absolute;
    // right: 180px;

}