// Подключение шрифтов
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap&subset=cyrillic");

// Миксин для корректной активации флексбоксов в разных браузерах
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

$primary-color: #3333ff;
$primary-color-30: rgb(51, 51, 255, 0.3);
$primary-color-15: rgb(51, 51, 255, 0.15);

@mixin blur($blur-size) {
    filter: blur($blur-size);
    -ms-filter: blur($blur-size);
    -webkit-filter: blur($blur-size);
}

%font-rubik {
    font-family: "Rubik", sans-serif;
}

%font-rubik-mono-one {
    font-family: "Rubik Mono One", sans-serif;
}

* {
    @extend %font-rubik;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all 0.5s;
}

.flex {
    @include flexbox();
    justify-content: center;
}

.display-height {
    height: 100vh;
}

.container {
    width: 1200px;
    padding: 0 15px;
    // align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 10vh;
    background: white;
    font-size: 10pt;
}

.header__content {
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color;
}

.header__content-logo {
    // align-self: flex-start;
    margin-right: auto;
}

.header__content-item {
    color: black;
    margin-left: 30px;
    text-decoration: none;
}

.header__content-item_btn {
    color: white;
    background: $primary-color;
    border-radius: 90px;
    padding: 12px;
}

.block1 {
    flex-direction: column;
    height: 90vh;
    color: white;
}

.block1__bg {
    position: absolute;
    height: 100vh;
    width: 105vw;
    top: +9vh;
    left: -5vw;
    z-index: -1000;
    background: darkgray url("../../img/clinic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position-y: -200px;
    @include blur(5px);
}

.block1__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block1__text {
    width: 600px;
}

.block1__h1 {
    @extend %font-rubik-mono-one;
    color: $primary-color;
    font-size: 34pt;
}

.block1__h3 {
    margin-top: 30px;
    font-size: 20pt;
    line-height: 1.3;
}

.block1__btns {
    margin-top: 40px;
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.block1__btns-tel {
    border: none;
    background-color: white;
    color: black;
    width: 290px;
    padding: 12px;
    border-radius: 90px;
    font-size: 14pt;
    text-align: center;
}

.block1__btns-action-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    width: 290px;
    padding: 12px;
    border-radius: 90px;
    text-align: center;
    font-size: 14pt;
}

.block1__btns-action-btn:hover {
    box-shadow: 0 0 10px $primary-color;
}

.block-header {
    @extend %font-rubik-mono-one;
    font-size: 30pt;
    color: $primary-color;
    text-align: center;
}

.block2 {
    border-radius: 200px;
    background: white;
    flex-flow: column;
    justify-content: space-evenly;
}

.block2__content {
    // margin-top: auto;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.block2__content-text {
    flex-flow: column;
    width: 600px;
    // margin: 5px;
    font-size: 16pt;
}

.block2__content-text-data {
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.block2__content-text-data_big {
    font-size: 28pt;
    color: $primary-color;
}

.block2__content-pic {
    box-shadow: 0 0 5px darkgray;
}

.block3 {
    flex-flow: column;
    justify-content: space-evenly;
}

.block3__content {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.block3__content-text {
    flex-flow: column;
    width: 600px;
    font-size: 16pt;
}

.block3__content-text-data {
    flex-flow: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.block3__content-text-data_big {
    font-size: 28pt;
    color: $primary-color;
}

.block4 {
    flex-direction: column;
    justify-content: space-evenly;
}

.block4__list-section-header {
    background: $primary-color-30;
    border-radius: 90px;
    font-size: 14pt;
    line-height: 2em;
    padding: 0 15px;
}

.block4__list-section-item {
    background: $primary-color-15;
    font-size: 12pt;
    line-height: 2em;
    margin: 0 30px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.block4__link {
    color: $primary-color;
    align-self: center;
}

.block5 {
    flex-direction: column;
    justify-content: space-evenly;
}

.block5__img-holder {
    justify-content: space-between;
}

.block6 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.block6__info {
    flex-direction: column;
    color: black;
}

.block6__info-header {
    font-size: 20pt;
    margin-bottom: 40px;
}

.block6__info-item {
    display: flex;
    flex-direction: row;
    font-size: 14pt;
}

.block6__info-item-icon {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.block6__form {
    flex-direction: column;
}

.block6__form-header {
    font-size: 20pt;
    margin-bottom: 40px;
}

.block6__form-container {
    width: 615px;
}

.block6__form-name,
.block6__form-tel,
.block6__form-ask {
    background: $primary-color-15;
    color: $primary-color-30;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.block6__form-name,
.block6__form-tel {
    width: 295px;
}

.block6__form-ask {
    width: 605px;
    height: 200px;
}

.block6__form-btn {
    border: none;
    border-radius: 90px;
    width: 615px;
    background: $primary-color;
    color: white;
    font-size: 14pt;
    line-height: 2em;
    padding: 0 auto;
    margin-top: 10px;
}

.footer {
    margin-top: 100px;
    height: 8vh;
    background: $primary-color;
}

.footer__content {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer__content-item {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 12pt;
}